
    <!-- footer -->
    <div class="container-fluid">
        <section class="row bg-info">

            <div class="col-md-4 text-white">
            <h3>About us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolores praesentium pariatur dolorum, dolor veritatis ea qui eum sequi? Id?</p>
            </div>

            <div class="col-md-4">
                <form action="">
                    <h3 class="text-light">Contact Us</h3>

                    <input type="text"
                    placeholder="Enter email" class="form-control"><br>

                    <textarea name="" id="" cols="30" rows="5" 
                    placeholder="leave a comment" class="form-control"></textarea><br>

                    <button class="btn btn-danger">Send Message</button>
                </form>
            </div>

            <div class="col-md-4">
                <h3 class="text-light">Stay connected</h3>
                <a href="https://www.facebook.com">
                    <img  src="images/fb.png" alt="">
                </a>
                <a href="https://www.instagram.com">
                    <img src="images/in.png" alt="">
                </a>
                <a href="https://twitter.com">
                    <img src="images/x.png" alt="">
                </a>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur odit perspiciatis voluptatum sint sit, rem unde pariatur quod quia ipsam, suscipit ratione repudiandae incidunt odio, distinctio architecto quisquam nobis repellat!</p>
            </div>
        </section>
    </div>

    <!-- footer class -->
    <footer class="bg-dark">
        <p class="text-info text-center">
            developed by lungahoRamsey.&copy; 2024 all rights reserved
        </p>    
    </footer>
