<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soko Garden</title>
    <link rel="stylesheet" href="/static/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/dist/css/style.css">

    <script src="/static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/dist/js/jquery.js"></script>
    <script src="/static/dist/js/script.js"></script>

</head>
<body>
    

    <div class="'container">
        <!-- jinja2 -->
        {% include 'navbar.html' %}
    </div>
    <br>    
    <h1>SOKO GARDEN</h1>
        <!-- carousel -->
        {% include 'carousel.html' %}
        <br>


       

       


        <!-- footer -->
        {% include 'footer.html' %}


    
    
    

</body>
</html>